# Heimdallr
github "antitypical/Result" "76f9a97"
github "thoughtbot/Argo" "v2.1.0"
github "kishikawakatsumi/KeychainAccess" "v2.2.0"

# ReactiveHeimdallr
github "ReactiveCocoa/ReactiveCocoa" "v4.0-alpha.1"
